.Home {
  background-color: #e0e8f0;
  padding-top: 50px;
}

.jumbotron {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  margin: auto;
  margin-bottom: 50px;
  padding-left: 20px;
  background-color: #AFC2D5;
  min-width: 90%;
  max-width: 1000px;
  height: auto;
  min-height: 30vh;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);

  /* background-image: url(https://via.placeholder.com/1000);
  background-size: 100% auto; */
}
.jumbotron h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.jumbotron button {
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 3px;
  border-style: none;
}

@media only screen and (max-width: 800px) {
  .Home {
    padding-top: 0;
  }
  .jumbotron {
    margin: 0;
    max-width: 100%;
    height: auto;
    min-height: 30vh;
    border-radius: 0;
  }
}

@media only screen and (min-width: 1065px) {
  .jumbotron {
    min-width: 500px;
    max-width: 1000px;
  }
}