.logo {
  color: #F3E8EE;
}
.Navigation {
  min-height: 7vh;
  background-color: var(--nav-test-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.Navigation a {
  text-decoration: none;
  color: #F3E8EE;
}

.Navigation ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.Navigation li {
  padding: 0 10px;
  font-size: 20px;
}
.Navigation a.selected {
  color: #BACDB0;
}
.selected {
  border-bottom: 2px solid seashell;
  transition: ease-in 200ms color;
}

@media only screen and (max-width: 600px) {
  .Navigation {
    flex-direction: column;
  }
  .Navigation ul {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  .Navigation ul li {
    padding: 5px 0;
  }
}
