.Navigation {
  background-color: var(--nav-test-color);
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;
}
.Navigation a {
  text-decoration: none;
}
.Navigation ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.Navigation li {
  padding: 0 10px;
  font-size: 20px;
}

.selected {
  color: green;
  border-bottom: 2px solid purple;
}

@media only screen and (max-width: 440px) {
  .Navigation {
    flex-direction: column;
  }
  .Navigation ul {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  .Navigation ul li {
    padding: 5px 0;
  }
}
