.Navigation {
  background-color: coral;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;
}
.Navigation a {
  text-decoration: none;
}
.Navigation ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.Navigation li {
  padding: 0 0 0 20px;
  font-size: 20px;
}
