:root {
  /* apply these as background colors until official scheme is made */
  --app-test-color: #eee;
  --nav-test-color: #2E2C2F;
  --gallery-test-color: #424B54;
  --card-test-color: #c9e9f5;
}

.App {
  margin: 0 auto;
  max-width: 100%;
  background-color: var(--app-test-color);
}