:root {
  /* apply these as background colors until official scheme is made */
  --app-test-color: #eee;
  --nav-test-color: coral;
  --gallery-test-color: peachpuff;
  --card-test-color: lightblue;
}

.App {
  margin: 0 auto;
  max-width: 960px;
  background-color: var(--app-test-color);
}